.container {
  display: flex;
  flex-direction: column;
}

.inner-container {
  display: flex;
  flex-direction: row;
}

#area-yellow {
  background-color: yellow;
  width: 300px;
  height: 100px;
}

#area-red {
  background-color: red;
  width: 300px;
  height: 50px;
}

#area-blue {
  width: 200px;
  height: 50px;
  background-color: blue;
}
