.container {
    display: flex;
    flex-direction: row;
}

#area-yellow {
    background-color: yellow;
    width: 200px;
    height: 100px;
}

#area-red {
    background-color: red;
    width: 200px;
    height: 50px;
}

#area-blue {
    width: 200px;
    height: 100px;
    background-color: blue;
}


